<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/CheckoutStyle.css" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Checkout</h1>
    <div class="Content">
        @using System.Web.Mvc
		@{
          DarkEdenNetworkSite.Models.JsonConnection j = new DarkEdenNetworkSite.Models.JsonConnection();
          string path = Server.MapPath("~/Json/Cart.json");
          DarkEdenNetworkSite.Models.Cart cart = j.Read<DarkEdenNetworkSite.Models.Cart>(path);
       }
       @foreach (var item in cart.CartItems)
       {
           int num = 0;
           string extend = ".bmp";

            <img src="~/Images/@num@item.Img@extend" />
            <h2>@item.Name</h2>
            <h2>Price: @item.Price</h2>

       }  
        <button onclick="location.href='/Market/BuyItem'">Check Out</button>

        
    
    </div>
</body>
</html>
