@model DarkEdenNetworkSite.Models.Cart

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Styles/CheckoutStyle.css" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Checkout</h1>
    <div class="Content">
        @{int id = 0;}
        @Model[id];
    
    </div>
</body>
</html>
