
@{
    ViewBag.Title = "ServerRates";
    Layout = "~/Views/Shared/_DarkEdenLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Styles/ServerRatesStyle.css" />


<h1>Info</h1>
<div class="content">
    <ul>
        <li>@Html.ActionLink("Game Rules", "Info", "Home", new { @class = "SecondNav" })</li>
        <li>@Html.ActionLink("Server Rates", "ServerRates", "Home", new { @class = "SecondNav" })</li>
        <li>@Html.ActionLink("Contact Us", "ContactUs", "Home", new { @class = "SecondNav" })</li>
    </ul>

    <article>
        <section class="body-content">
            <h2>Server Rates</h2>
            <br />
            <div id="theRates">
                <h3>EXP Rate: 100x</h3>
                <br />
                <h3>Rank EXP Rate: 10x</h3>
                <br />
                <h3>Pet EXP Rate: 10x</h3>
                <br/>
            </div>
            <p>*Rates compared to an official </p>
            <p>*All other settings are based on the Korean server</p>
        </section>

    </article>
</div>

