
@{
    ViewBag.Title = "ServerRates";
    Layout = "~/Views/Shared/_DarkEdenLayout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Styles/InfoStyle.css" />
<h1>Info</h1>
<div class="content">
    <ul>
        <li>@Html.ActionLink("Game Rules", "Info", "Home", new { @class = "SecondNav" })</li>
        <li>@Html.ActionLink("Server Rates", "ServerRates", "Home", new { @class = "SecondNav" })</li>
        <li>@Html.ActionLink("Contact Us", "ContactUs", "Home", new { @class = "SecondNav" })</li>
    </ul>

    <article>
        <section class="body-content">
            <h2>Server Rates</h2>
            <h4>Please read and understand the rules.</h4>
            <br />
            <ol>
                <li>Hacking of any kind will not be tolerated. (Permanent Ban)</li>
                <br />
                <li>Use or exploiting of a bug for your own benefit or the benefit of others will not be tolerated. (Permanent Ban)</li>
                <br />
                <li>Do not advertise other servers on our forum of in-game. (One month Ban)</li>
                <br />
                <li>GMs will not give items or otherwise unfair advantages to players. Do not ask for them! (Two month Ban)</li>
                <br />
                <li>Absolutely NO REFUND or EXCHANGE for market items unless there is server bug!</li>
                <br />
                <li>Maximum 3 accounts allowed (Any more after the 3rd will result in account removal for each.)</li>
            </ol>
        </section>

    </article>
</div>

