
<link rel="stylesheet" type="text/css" href="~/Styles/PartialMarketStyle.css" />

@foreach (var m in ViewData.Model)
{
    int num = 0;
    string extend = ".bmp";
    <figure class="Items">
        <img src="~/Images/@num@m.Img@extend" />
        <figcaption>@m.Name</figcaption>
        <figcaption>Price: @m.Price</figcaption>
        @{string path = "/Home/AddToCart?Id=" + m.GoodsID;}
        <button onclick="location.href='@path'">Add To Cart</button>

    </figure>

}
