<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Styles/LayoutStyle.css" />
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<header>
    <a href="~/Home/Index"><img src="~/Images/DarkEdenBanner.png" /></a>
</header>
<nav>
    <a href="~/Home/Index">Home</a>
    <a href="~/Home/Market">Market</a>
    <a href="~/Home/NewsEvents">News&Events</a>
    <a href="~/Home/Info">Info</a>
    <a href="~/Home/Checkout" class="Cart">S</a>
    <!-- <a href="~/Account/Login" id="log">Login</a>  -->
    @Html.Partial("_LoginPartial")
</nav>
<body>
    @RenderBody()
    @RenderSection("Scripts", false)
</body>
<footer> &copy; Dark Eden Network 2015</footer>
</html>
