
<link rel="stylesheet" type="text/css" href="~/Styles/PartialShortMarketStyle.css" />

@{
    DarkEdenNetworkSite.Models.DARKEDENEntities dataContext = new DarkEdenNetworkSite.Models.DARKEDENEntities();
    ViewBag.Ousters = dataContext.GoodsListInfoes.Where(m => m.Race == "OUSTERS").Take(4);
}

@foreach (var m in ViewBag.Ousters)
{
    int num = 0;
    string extend = ".bmp";
    <figure class="Items">
        <img src="~/Images/@num@m.Img@extend" />
        <figcaption>@m.Name</figcaption>
        <figcaption>Price: @m.Price</figcaption>
        <button>To Cart</button>
    </figure>
}


