

<link rel="stylesheet" type="text/css" href="~/Styles/PartialMarketStyle.css" />

@{
    DarkEdenNetworkSite.Models.DARKEDENEntities dataContext = new DarkEdenNetworkSite.Models.DARKEDENEntities();
    ViewBag.Slayers = dataContext.GoodsListInfoes.Where(m => m.Race == "SLAYER").Take(4);
}

@foreach (var m in ViewBag.Slayers)
{
    int num = 0;
    string extend = ".bmp";
    <figure class="Items">
        <img src="~/Images/@num@m.Img@extend" />
        <figcaption>@m.Name</figcaption>
        <figcaption>Price: @m.Price</figcaption>
        @{string path = "/Home/AddToCart?Id=" + m.GoodsID;}
        <button onclick="location.href='@path'">Add To Cart</button>

    </figure>
}

